@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Jakarta Sans", sans-serif;
}

:root {
	--scrollbar-thumb: #017194; /* Black scrollbar thumb color */
	--scrollbar-track: transparent; /* Transparent track */
}

.custom-scrollbar {
	overflow-y: scroll;
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* For Firefox */
}

/* Webkit Browsers */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	color: #017194;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #017194;
	border-radius: 10px;
	/* border: 3px solid var(--scrollbar-track); */
	visibility: hidden;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	visibility: hidden;
	transition: visibility 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar:active::-webkit-scrollbar-thumb {
	visibility: visible;
}

.custom-scrollbar::-webkit-scrollbar-thumb:window-inactive {
	visibility: hidden;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
